.evediv {
  width: auto;
  height: 100vh;
  padding-top: 10vh;
  background-color: black;
  background-image: url(http://wallpapercave.com/wp/0yTiw8R.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

#evemailhr {
  width: 70%;
  border-color: white;
  border-width: 1px;
}

.evemaillogin {
  width: 300px;
  height: 30vh;
  background-color: black;
  opacity: 0.9;
  margin-left: 20%;
  padding-top: 2%;
}

.evemailfeatures {
  width: 50%;
  height: auto;
  background-color: #1a1a1a;
  opacity: 0.9;
  margin-left: 20%;
  margin-top: 7vh;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  color: white;
}
