@import 'eve-fonts';



@headerText: #f2f2f2;
@headerOutline: #000000;

* {
  margin: 0px;
}

.main-div {
  background-image: url('../assets/background-nebula.jpg');
  background-size: 'contain';
}

.header {
  font-family: 'eve';
  font-style: 'italic';
  font-weight: 'bold';
  color: @headerText;
  text-shadow: 1px 1px @headerOutline;
}
